@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

a.active {
  color: #ca9234;
}
.overlay::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  left: 0;
  right: 0;
}
.lr-btn {
  background-color: #ca9234 !important;
  color: #fff !important;
  border: 0 !important;
}
